In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\dataset\demo1.csv")

In [2]:
df.isnull()

,math score,reading score,writing score,placement score,placement offer count,club join year
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False

In [3]:
series = pd.isnull(df["math score"])
df[series]

Empty DataFrame
Columns: [math score, reading score, writing score, placement score, placement offer count, club join year]
Index: []

In [4]:
df.notnull()

,math score,reading score,writing score,placement score,placement offer count,club join year
0,True,True,True,True,True,True
1,True,True,True,True,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,True,True,True,True,True
5,True,True,True,True,True,True
6,True,True,True,True,True,True
7,True,True,True,True,True,True
8,True,True,True,True,True,True
9,True,True,True,True,True,True
10,True,True,True,True,True,True
11,True,True,True,True,True,True
12,True,True,True,True,True,True
13,True,True,True,True,True,True
14,True,True,True,True,True,True
15,True,True,True,True,True,True
16,True,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True

In [5]:
series1 = pd.notnull(df["math score"])
df[series1]

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [6]:
missing_values = ["Na", "na"]

df = pd.read_csv("C:\dataset\demo1.csv", na_values =
missing_values)
df

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [7]:
ndf=df
ndf.fillna(0)

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [8]:
m_v=df['math score'].mean()
df['math score'].fillna(value=m_v, inplace=True)
df

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [9]:
ndf.replace(to_replace = np.nan, value = -99)

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [10]:
ndf.dropna(how = 'all')

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [11]:
ndf.dropna(axis = 1)

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [12]:
new_data = ndf.dropna(axis = 0, how ='any')
new_data

,math score,reading score,writing score,placement score,placement offer count,club join year
0,80,68,70,89,3,2019
1,71,61,85,91,3,2019
2,79,16,87,77,2,2018
3,61,77,74,76,2,2020
4,78,71,67,90,3,2019
5,73,68,90,80,2,2019
6,77,62,70,35,2,2020
7,74,45,80,12,1,2019
8,76,60,79,77,2,2020
9,75,65,85,87,3,2018
10,160,67,12,83,2,2020
11,79,72,88,180,2,2019
12,80,80,78,94,3,2021
13,78,69,71,90,3,2019
14,75,1,71,81,2,2019
15,78,62,79,93,3,2021
16,86,78,80,88,3,2019
17,80,74,23,76,2,2021
18,75,62,86,87,3,2019
19,82,70,87,94,3,2019
20,69,65,84,35,1,2018
21,100,77,70,91,3,2018
22,72,60,78,94,3,2019
23,74,65,71,84,2,2019
24,75,77,83,77,2,2020
25,180,67,63,75,3,2021
26,72,120,70,84,2,2021
27,71,79,88,85,3,2021
28,120,73,71,94,3,2019

In [13]:
print(np.where(df['math score']>90))
print(np.where(df['reading score']<25))
print(np.where(df['writing score']<30))

(array([10, 21, 25, 28], dtype=int64),)
(array([ 2, 14], dtype=int64),)
(array([10, 17], dtype=int64),)